template(name='ui_header')

	.ui-flex-row.ui-flex-left-center--child.ui-header

		a(href='{{pathFor route="home"}}' class='{{isActiveRoute regex="home"}}') 今日热门

		a(href='{{pathFor route="home"}}') 最新话题

		a(href='{{pathFor route="home"}}') 推荐话题

		a(href='{{pathFor route="home"}}') 热门话题

		a(href='{{pathFor route="home"}}') 随便看看
