template(name='ui_header')

	.ui-flex-row.ui-flex-left-center--child.ui-header

		a(href='{{pathFor route="home"}}' class='{{isActiveRoute regex="home"}}') 今日热门

		a(href='{{pathFor route="latest"}}' class='{{isActiveRoute regex="latest"}}') 最新话题

		a(href='{{pathFor route="hottest"}}' class='{{isActiveRoute regex="hottest"}}') 热门话题

		a(href='{{pathFor route="recommended"}}' class='{{isActiveRoute regex="recommended"}}') 推荐话题

		a(href='#') 随便看看

		a(href='{{pathFor route="signin"}}' class='{{isActiveRoute regex="signin"}}') 登录

		a(href='{{pathFor route="signup"}}' class='{{isActiveRoute regex="signup"}}') 注册
