template(name='viewTopic')

	.ui-flex-row.ui-flex-center--child

	.ui-flex-1x

		h3.ui-padded {{topic.title}}

			.ui-flex-row

				.ui-flex-1x

					with topic

						form#leftForm
							textarea.leftContent(required)
							input(type='submit' value='提交')

					.ui-flex-column
						each commentsLeft
							a {{content}}

				.ui-flex-1x

					with topic

						form#rightForm
							textarea.rightContent(required)
							input(type='submit' value='提交')

					.ui-flex-column
						each commentsRight
							a {{content}}
