template(name='viewTopic')

	.ui-flex-row.ui-flex-center--child

	.ui-flex-1x

		h3.ui-padded {{topic.title}}

			.ui-flex-row

				.ui-flex-1x

					with topic

						form#leftForm
							textarea.leftContent(required)
							input(type='submit' value='提交')

					.ui-flex-column
						each commentsLeft
							+commentItem

				.ui-flex-1x

					with topic

						form#rightForm
							textarea.rightContent(required)
							input(type='submit' value='提交')

					.ui-flex-column
						each commentsRight
							+commentItem

template(name='commentItem')
	.ui-flex-row.ui-padded-sm(style='border-bottom: 1px solid #efefef;')
		.ui-padded-sm
			if user.profile.avatarUrl
				img.ui-image-circle(src='{{user.profile.avatarUrl}}' style='width: 48px; height: 48px;')
			else
				canvas(width='48' height='48' data-jdenticon-hash='{{user.profile.avatarHash}}')
		.ui-flex-column.ui-flex-1x.ui-padded-sm
			h2
				a(href='{{pathFor route="viewTopic"}}') {{content}}
			.ui-flex-row(style='margin-bottom: 4px;')
				.ui-flex-1x {{user.username}}
				small.ui-text-mute {{fromNow createdAt}}
			.ui-flex-row
				small.ui-padded-sm {{stats.likes}} 喜欢
				small.ui-padded-sm {{stats.comments}} 讨论
				small.ui-padded-sm {{stats.views}} 浏览?????]?=?b?
