//

*
	box-sizing border-box
	outline none
	margin 0
	padding 0

//

.ui-flex-row
.ui-flex-column
	display flex

//

.ui-flex-row
	flex-flow row nowrap

//

.ui-flex-column
	flex-flow column nowrap

//

.ui-flex-center--child
	& > *
		display flex
		justify-content center
		align-items center

.ui-flex-left-center--child
	& > *
		display flex
		justify-content flex-start
		align-items center

.ui-flex-right-center--child
	& > *
		display flex
		justify-content flex-end
		align-items center

//

.ui-flex-1x
	flex 1

//

.ui-padded-sm
	padding 8px

.ui-padded
	padding 16px

.ui-padded-md
	padding 32px

.ui-pdtb-md
	padding 32px 0
