template(name='signin')

	.ui-padded.ui-module

		form

			label.ui-flex-column

				span.ui-padded-sm 用户名

				input(type='text' placeholder='用户名' required).username

			label.ui-flex-column

				span.ui-padded-sm 密码

				input(type='password' placeholder='密码' required).password

			.ui-padded-sm

				input(type='submit' value='登陆')
