template(name='commentItem')

	.ui-flex-row.ui-padded-sm(style='border-bottom: 1px solid #efefef;')

		.ui-padded-sm
			if user.profile.avatarUrl
				img.ui-image-circle(src='{{user.profile.avatarUrl}}' style='width: 48px; height: 48px;')
			else
				canvas(width='48' height='48' data-jdenticon-hash='{{user.profile.avatarHash}}')

		.ui-flex-column.ui-flex-1x.ui-padded-sm

			span {{content}}

			.ui-flex-row(style='margin-bottom: 4px;')
				small.ui-text-mute {{user.username}} 发布于 {{fromNow createdAt}}

			.ui-flex-row
				small.ui-padded-sm {{stats.likes}} 喜欢
				small.ui-padded-sm {{stats.comments}} 讨论
				small.ui-padded-sm {{stats.views}} 浏览
