template(name='signup')

	.ui-module

		.ui-flex-row

			.ui-flex-1x.ui-padded

				form.ui-flex-column#signupForm

					input(type='text' required).username
					input(type='password' required).password
					input(type='submit' value='注册')

			.ui-flex-1x
